/* Navbar styles */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .login-container {
    padding: 20px;
    text-align: center;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
    display: block;
}
*/